body, html {
    margin: 0;
    padding: 0;
  }
  
  .transaction-container {
    width: 450px; /* Ukuran tetap */
    flex-shrink: 0;
    overflow: auto;
}
@media (max-width: 768px) {
    .transaction-container {
        width: 40%;
    }
}
@media print {
    body {
        width: 58mm;
        margin: 0;
        padding: 0;
        font-size: 12px; /* Sesuaikan ukuran font */
    }
    #btn-cetak, #btn-tutup {
        display: none;
    }
}
@page {
    size: 58mm auto; /* Lebar 58mm, tinggi otomatis */
    margin: 0;
}

